<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <title>Location</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
    <style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 375px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body>

  <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
  <div class="container">
  <a class="navbar-brand" href="/">
      <img src="https://www.pngrepo.com/download/284250/surgeon-doctor.png" alt="LOGO" width="30" height="30">
    </a>
      <a class="navbar-brand mr-4" href="/">EasyMedic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <button type="button" class="btn btn-outline-primary"><a class="nav-item nav-link" aria-current="page" href="/">Home</a></button>
        </li>
        <li class="nav-item">
        <button type="button" class="btn btn-outline-primary">
        <a class="nav-item nav-link" href="/about">About</a>
        </button>
          
        </li>
        <div class="navbar-nav mr-auto">
        <button type="button" class="btn btn-outline-secondary">
          <a class="nav-item nav-link" href="/cancer">Cancer</a></button>
          <button type="button" class="btn btn-outline-secondary">
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a></button>
          <button type="button" class="btn btn-outline-secondary">
          <a class="nav-item nav-link" href="/heart">Heart</a></button>
          <button type="button" class="btn btn-outline-secondary">
          <a class="nav-item nav-link" href="/liver">Liver</a></button>
          <button type="button" class="btn btn-outline-secondary">
          <a class="nav-item nav-link" href="/kidney">Kidney</a></button>
          <button type="button" class="btn btn-outline-secondary">
           <a class="nav-item nav-link" href="/Malaria">Malaria</a></button>
           <button type="button" class="btn btn-outline-secondary">
           <a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a></button>
        </div>
      <li class="nav-item pull-right">
      <button type="button" class="btn btn-outline-danger">
          <a class="nav-item nav-link" href="/gethelp">Nearest Doctor!</a></button>
        </li>
        </ul>
    </div>
  </div>
</nav>
  </header>
  
 <span class="border">
<div class = "container">
<h2>Please fill your latitude and longitude.</h2>
<form action="{{ url_for('get_location')}}" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Latitude</label>
    <input type="number" class="form-control" id="exampleInputEmail1" name="Latitude" required="required" step = "any">
    </div>
  <div class="mb-3">
    <label for="exampleInputEmail2" class="form-label">Longitude</label>
    <input type="number" class="form-control" id="exampleInputEmail2" name="Longitude" required="required" step = "any">
    </div>
 <div class="mb-4">
  <button type="submit" class="btn btn-success">Submit</button>
  </div>
  <br><br>
  <p>You can use google maps to get your latitude and longitude</p
  <div class="mb-4">
  <button type="button" class="btn btn-warning"><a href="https://www.google.com/maps">Link to google Maps</a></button>
  </div>
</form>


</div>
</span>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
<footer id="main-footer">
      Created with care by : Kunal & Saurabh
    </footer>
</body>
</html>
